.DS_Store
Thumbs.db
db.json
*.log
node_modules/
.deploy*/
/public/*
!/public/baidusitemap.xml
!/public/CNAME
!/public/googlee87c4e95545f1852.html
!/public/sitemap.xml
!/public/baidu_verify_QKYv5Yp7Yo.html
!/public/downloads/
!/public/downloads/*